<template>
 <div class="auth-page">
  <div class="container page">
   <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
     <h1 class="text-xs-center">Sign Up</h1>
     <p class="text-xs-center">
      <router-link :to="{name: 'login'}">Have an account?</router-link>
     </p>
     <mcv-validation-errors
      v-if="validationErrors"
      :validation-errors="validationErrors"
     />
     <form @submit.prevent="onSubmit">
      <fieldset class="form-group">
       <input type="email"
              class="form-control form-control-lg ng-pristine ng-valid ng-empty ng-touched"
              placeholder="Email"
              v-model="email"
       >
      </fieldset>
      <fieldset class="form-group">
       <input
        type="text"
        class="form-control form-control-lg ng-pristine ng-valid ng-empty ng-touched"
        placeholder="Username"
        v-model="username"
       >
      </fieldset>
      <fieldset class="form-group">
       <input type="password"
              class="form-control form-control-lg ng-pristine ng-valid ng-empty ng-touched"
              placeholder="Password"
              v-model="password"
       >
      </fieldset>
      <button class="btn btn-lg btn-primary pull-xs-right" :disabled="isSubmitting">Sign Up</button>
     </form>
    </div>
   </div>
  </div>
 </div>
</template>

<script>
import McvValidationErrors from "@/components/ValidationErrors";
import { actionTypes } from "@/store/modules/auth";
import { mapState } from "vuex";

export default {
 name: "McvRegister",
 components: { McvValidationErrors },
 data() {
  return {
   email: "",
   password: "",
   username: ""
  };
 },
 computed: {
  ...mapState({
   isSubmitting: state => state.auth.isSubmitting,
   validationErrors: state => state.auth.validationErrors
  })

  // isSubmitting() {
  //  return this.$store.state.auth.isSubmitting;
  // },
  // validationErrors() {
  //  return this.$store.state.auth.validationErrors;
  // }
 },
 methods: {
  onSubmit() {
   this.$store.dispatch(actionTypes.register, {
    username: this.username,
    email: this.email,
    password: this.password
   })
    .then(() => {
     this.$router.push({ name: "globalFeed" });
    });
  }
 }
};
</script>