<template>
  <div class="sidebar">
    <p>Popular Tags</p>
    <mcv-loading v-if="isLoading" />
    <mcv-error-message v-if="error" />

    <div v-if="noTags">No tags are here... yet.</div>

    <div class="tag-list">
      <router-link
        v-for="tag in tags"
        :key="tag"
        :to="{name: 'tag', params: {slug: tag}}"
        class="tag-default tag-pill"
      >
        {{ tag }}
      </router-link>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapState} from 'vuex'
import {actionTypes, getterTypes} from '@/store/modules/tags'
import McvLoading from '@/components/Loading'
import McvErrorMessage from '@/components/ErrorMessage'
export default {
  name: 'McvPopularTags',
  components: {
    McvLoading,
    McvErrorMessage,
  },
  computed: {
    ...mapState({
      isLoading: (state) => state.tags.isLoading,
      tags: (state) => state.tags.data,
      error: (state) => state.tags.error,
    }),
    ...mapGetters({
      noTags: getterTypes.noTags,
    }),
  },
  mounted() {
    this.$store.dispatch(actionTypes.getTags)
  },
}
</script>
